<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace= "/fragments/head :: head"> </th:block>
<body>
  

<nav th:replace= "/fragments/navbar :: nav"> </nav>

<h1 class="mb-2 mt-2">Este es el index!</h1>
<p class="mb-2 mt-2" style="font-size: large;">El texto sirve para explicar la funcionalidad de la página.</p>
<ol class="mb-2 mt-2 text-gral"> El usuario que observa esta página:
  <li> NO se registro.</li> 
  <li> NO puede ingresar a modificar listado de noticias.</li> 
  <li> NO puede crear noticias.</li> 
  <li>NO puede ver las noticias creadas hasta el momento y leerlas en 'VER MAS'.</li> 
</ol> 

  <!-- Este es el contenedor de las cartas -->
  <div class="card-container">
    <!-- Código de la carta -->
    <div th:each="noticia: ${noticias}" sec:authorize="hasAnyRole('USER', 'PERIODISTA', 'ADMIN')" class="card">
      <div class="card-body">
        <h5 th:text="${noticia.titulo}"></h5>
        <p class="card-text" th:text="${noticia.cuerpo}"></p>
        <a th:href="@{/noticias/ver_noti/{id}(id=${noticia.id})}" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>
  
</body>
</html>