<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Aquí van los encabezados, estilos, etc. -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La noticia</title>

</head>
<body>
    <header>
        <nav class="navbar bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <h2 th:text="${noticia.titulo}"></h2>
            </div>
            <!-- Verificación condicional para mostrar el mensaje y el enlace solo si el usuario ha iniciado sesión -->
    <p th:if="${#httpServletRequest.userPrincipal != null}"><a href="/inicio" class="btn" >Volver a la pagina principal</a></p>
    <!-- Enlace para iniciar sesión si el usuario no ha iniciado sesión -->
    <a th:unless="${#httpServletRequest.userPrincipal != null}" href="/">Volver a pagina principal</a>
            
        </nav>
    </header>
    <div><p th:text="${noticia.cuerpo}"></p></div>    
    
</body>
</html>